.contact-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin-bottom: 2%;
}

#contact-page {
  padding-top: 1%;
}

.contact-title {
  font-family: "Sarina", cursive;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 6px;
  margin-bottom: 5%;
}

.line {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}



.contact-content-container {
  margin: 0 auto;
  width: 40%;
  padding-top: .5%;
  border-radius: 300px;
}

.phone {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 200;
  line-height: 42px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.email {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 200;
  line-height: 42px;
  text-align: center;
    display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.address {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 200;
  line-height: 42px;
  text-align: center;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-bottom: 10%;
}

.social-pics-container {
  width: 30%;
  padding-bottom: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.social-links-container1 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.social-links-container2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.social-links-container3 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.social-link1 {
  margin-left: 20%;
  margin-right: 20%;
}

.social-link2 {
  margin-left: 20%;
  margin-right: 20%;
}

.social-link3 {
  margin-left: 20%;
  margin-right: 20%;
}

.social-image1 {
  height: 110%;
}
.social-image2 {
  height: 110%;
}

.social-image3 {
  height: 110%;
}


.back-to-top-link {
  text-decoration: none;
}


.social-image1:hover {
  -webkit-animation: swing .75s ease;
  animation: swing .75s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.social-image2:hover
{
  -webkit-animation: swing .75s ease;
  animation: swing .75s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.social-image3:hover
{
  -webkit-animation: swing .75s ease;
  animation: swing .75s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
} 


@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
/*
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}*/





