.my-work-title {
  font-family: "Lekton", sans-serif;
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 8px;
}


.press-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  max-width: 85%;
}

.press-container > div {
  padding: 30px;
}

.press-container > div > img {
  height: 186px;
  width: 351px;
}

.hover11 a img {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#my-work {
  margin-top: 6%;
}

.hover11 a:hover img {
  opacity: .7;
}
/**/
#press {
  padding-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
