@import url("https://fonts.googleapis.com/css?family=Montserrat");

.nav-container {
  background-color: rgba(255, 255, 255, 0);
  width: 85%;
  margin: 0 auto;
  border-color: #8795a1;
  text-decoration: none;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  /*  position: absolute;
  top: 0;
  flex: 1;
  align-self: stretch;
  right: 0;
  left: 0;*/
}

.nav-bullets {
  list-style: none;
  width: 40%;
  margin: 3% -6.5% 3% 10% !important;
  display: flex;
  align-content: flex-end;
}

.nav-name {
  border-width: 1px 0;
  padding-right: 5%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
}

.links {
  display: inline;
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  list-style: none;
  margin-right: 5%;
  margin-left: 8%;
}


.nav-text-links {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  
}

/*.nav-text-links:hover {
  text-decoration: underline;
  color: black;
}*/
/* latin-ext */
@font-face {
  font-family: 'Sarina';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sarina/v9/-F6wfjF3ITQwasLRJ0rVjCNAxhAL.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Sarina';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sarina/v9/-F6wfjF3ITQwasLRKUrVjCNAxg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}/* latin-ext */
@font-face {
  font-family: 'Lekton';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lekton/v11/SZc43FDmLaWmWpBuVh3pv0Db6AtO.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lekton';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lekton/v11/SZc43FDmLaWmWpBuWB3pv0Db6A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lekton';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/lekton/v11/SZc73FDmLaWmWpBm4zj8nGLWwjFHgB4N.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lekton';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/lekton/v11/SZc73FDmLaWmWpBm4zj8kmLWwjFHgA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Sarina';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sarina/v9/-F6wfjF3ITQwasLRJ0rVjCNAxhAL.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Sarina';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sarina/v9/-F6wfjF3ITQwasLRKUrVjCNAxg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
strong {
  font-family: "Sarina", cursive;
  font-size: 35px;
  /*font-family: "Chango", cursive;*/
  /*  font-family: 'Gravitas One', cursive;*/
  font-weight: 400;
}


#my-name {
  font-size: 40px;
  text-decoration: none;
  color: black;
  font-family: "Lekton", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
}

/* other prefixed animation blocks ommitted for brevity */

h4 {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
}

.sm-link {
  --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
  --uismLinkTextColor: var(--smLinkTextColor);
  --uismLinkTextColorHover: var(--smLinkTextColorHover);

  display: var(--uismLinkDisplay);
  color: var(--uismLinkTextColor);
  position: relative;
  overflow: hidden;
  width: 100%;
}

a.sm-link {
  text-decoration: none;
}

.sm-link__label {
  display: block;
}

/* sm-link_padding-all */

.sm-link_padding-all {
  --uismLinkLineWeight: var(--smLinkLineWeight, 2px);
  --uismLinkLineColor: var(--smLinkLineColor, #000);
  --uismLinkPadding: var(--smLinkPadding, 5px);

  padding: var(--uismLinkPadding);
}

.sm-link_padding-all::before,
.sm-link_padding-all::after {
  width: 100%;
  height: var(--uismLinkLineWeight);
  left: 0;
}

.sm-link_padding-all::before {
  top: 0;
}

.sm-link_padding-all::after {
  bottom: 0;
}

.sm-link_padding-all .sm-link__label::before,
.sm-link_padding-all .sm-link__label::after {
  width: var(--uismLinkLineWeight);
  height: 100%;
  top: 0;
}

.sm-link_padding-all .sm-link__label::before {
  left: 0;
}

.sm-link_padding-all .sm-link__label::after {
  right: 0;
}

.sm-link_padding-all::before,
.sm-link_padding-all::after,
.sm-link_padding-all .sm-link__label::before,
.sm-link_padding-all .sm-link__label::after {
  content: "";
  background-color: var(--uismLinkLineColor);
  position: absolute;
  opacity: 0;

  will-change: transform, opacity;
  transition-property: transform, opacity;
}

.sm-link_padding-all:hover::before,
.sm-link_padding-all:hover::after,
.sm-link_padding-all:hover .sm-link__label::before,
.sm-link_padding-all:hover .sm-link__label::after {
  opacity: 1;
}

/* sm-link_padding-bottom */

.sm-link_padding-bottom {
  --uismLinkLineWeight: var(--smLinkLineWeight, 2px);
  --uismLinkLineColor: var(--smLinkLineColor, #000);

  padding-bottom: var(--uismLinkLineWeight);
  position: relative;
}

.sm-link_padding-bottom::after {
  content: "";
  width: 100%;
  height: var(--uismLinkLineWeight);
  background-color: var(--uismLinkLineColor);

  position: absolute;
  left: 0;
  bottom: 0;
}

/* sm-link_bg */

.sm-link_bg {
  --uismLinkLineColor: var(--smLinkLineColor, #000);
  --uismLinkTextColorHover: var(--smLinkTextColorHover, #fff);
  --uismLinkPadding: var(--smLinkPadding, 5px);

  padding: var(--uismLinkPadding);
  transition: color 0.3s ease-out;
}

.sm-link_bg::before,
.sm-link_bg::after {
  content: "";
  background-color: var(--uismLinkLineColor);
  opacity: 0;
  position: absolute;

  transition: transform 0.2s ease-out, opacity 0.2s ease-out 0.03s;
}

.sm-link_bg .sm-link__label {
  position: relative;
  z-index: 2;
}

.sm-link_bg:hover::before,
.sm-link_bg:hover::after {
  opacity: 1;
  transition-duration: 0.35s, 0.35s;
  transition-delay: 0s, 0s;
}

.sm-link_bg:hover {
  color: var(--uismLinkTextColorHover);
}

/* sm-link_text */

.sm-link_text::before {
  content: attr(data-sm-link-text);
  color: var(--uismLinkTextColorHover);
  position: absolute;
}

.sm-link_text::before,
.sm-link_text .sm-link__label {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.86, 0.6, 0.08, 1.01);
  transition-duration: 0.3s;
}

.sm-link_text:hover::before,
.sm-link_text:hover .sm-link__label {
  transition-duration: 0.4s;
}

/* effect 6 */

.sm-link6::before,
.sm-link6::after, 
.sm-link6 .sm-link__label::before,
.sm-link6 .sm-link__label::after{
  transition-duration: .2s;
  transition-timing-function: ease-out;
}

.sm-link6::before, 
.sm-link6::after{
  width: 100%;
  height: var(--uismLinkLineWeight);
  left: 0;
}

.sm-link6 .sm-link__label::before,
.sm-link6 .sm-link__label::after{
  width: var(--uismLinkLineWeight);
  height: 100%;
  top: 0;
}

.sm-link6::before{
  top: 0;
  transform: translate3d(-105%, 0, 0);
}

.sm-link6::after{
  bottom: 0;
  transform: translate3d(105%, 0, 0);
}

.sm-link6 .sm-link__label::before{
  left: 0;
  transform: translate3d(0, 105%, 0);
}

.sm-link6 .sm-link__label::after{
  right: 0;
  transform: translate3d(0, -105%, 0);
}

.sm-link6:hover::before,
.sm-link6:hover::after,
.sm-link6:hover .sm-link__label::before,
.sm-link6:hover .sm-link__label::after{
  transform: translate3d(0, 0, 0);
}

.sm-link6:hover::before{
  transition-delay: 0s;
}

.sm-link6 .sm-link__label::after,
.sm-link6:hover::after{
  transition-delay: .25s;
}

.sm-link6::after,
.sm-link6:hover .sm-link__label::after{
  transition-delay: .15s;
}

.sm-link6::before,
.sm-link6:hover .sm-link__label::before{
  transition-delay: .35s;
}
