.main-page-container {
  margin-bottom: 15%;
}

.about-title {
  font-family: "Lekton", sans-serif;
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 8px;
}

.about-page {
  padding: 5%;
  width: 60%;
  margin: 0 auto;
/*  border-radius: 50px;
  border-left: solid red 2px;
  border-bottom: solid red 2px;*/
}

#shapes-svg {
  z-index: -2;
  position: absolute;
  top: 100%;
  left: -25%;
  height: 105%;
}

/*
.about-page:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
*/


.profile-pic {
  margin-right: 13%;
  box-shadow: 0px 20px 30px rgba(0,0,0,.3);
  border-radius: 4px;
}

.about-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: "Lekton", sans-serif;
}

.hello-text {
  font-size: 30px;
  font-weight: 300;
}

.main-text {
  font-size: 15px;
  font-weight: 100;
}
