/*.main-page-container {
  background-image: linear-gradient(-225deg, #20E2D7 0%, #F9FEA5 100%);
}*/

.main-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.background-globe {
  background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
  border-radius: 400px;
  height: 300px;
  width: 300px;
  margin: 70px 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin-bottom: 20%;
  border-radius: 50%;
/*  transition: border-radius 2s ease-in-out;
  -moz-transition: border-radius 2s ease-in-out;
  -webkit-transition: border-radius 2s ease-in-out;*/
}

.globe-text {
  font-family: "Lekton", sans-serif;
  font-size: 140%;
}




.shadow {
    animation-name: floating;
    animation-duration: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-top: 13%;
    position: absolute;
}

#link {
  text-decoration: none;
  margin-top: 20%;
  margin-left: 1px;
  position: absolute;
}

.arrow {
  -webkit-animation: shake-vertical 18s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
  animation: shake-vertical 18s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

/*.arrow-text {
  margin-top: 21%;
  font-family: "Lekton", sans-serif;
  position: absolute;
  -webkit-animation: shake-vertical 13.9s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
  animation: shake-vertical 13.9s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}*/


@-webkit-keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
            transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
            transform: translateY(-6.4px);
  }
}
@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
            transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
            transform: translateY(-6.4px);
  }
}


.background-globe {
  -webkit-animation: shadow-drop-2-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
          animation: shadow-drop-2-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
}

@-webkit-keyframes shadow-drop-2-bottom {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px) translateY(-12px);
            transform: translateZ(50px) translateY(-12px);
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-bottom {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px) translateY(-12px);
            transform: translateZ(50px) translateY(-12px);
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}






html, body {
  height: 100%;
}

svg {
  position: fixed;
  top: -7%;
  height: 110%;
  left: -5%;
  width:110%;
/*  bottom: 30%;*/
  color: white;
}

circle {
  opacity: .01;
}

.make-clear {
  fill: white;
}
